.arc-carousel-img{
    min-height: 500px;
    aspect-ratio: 2;
}

.arc-card-carousel-img{
    min-height: 150px;
    aspect-ratio: 1.5;
}

.arc-row-eq-height {
    display: flex;
    flex-wrap: wrap;
  }

.arc-col-eq-height {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

.cry{
    background-color: aqua;
    border: "5px solid red" !important;
}

.cry2{
    background-color: green;
    border: "5px solid red" !important;
}


.ser-image-container {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    overflow: hidden;         /* Hide overflow to prevent any part of the image from exceeding the container */
}

.ser-image-container img {
    max-width: 100%;          /* Ensure the image doesn't exceed the container's width */
    max-height: 100%;         /* Ensure the image doesn't exceed the container's height */
    object-fit: contain;      /* Scale the image to fit within the container while maintaining aspect ratio */
}

.cus-font-1, h1, h2, h3, h4, h5, h6 {
    font-family: "Trirong", serif;
}

.cus-font-2, h3, h4, h5 {
    font-family: "Maitree", serif;
}

.cus-font-3, h6, p{
    font-family: "Palanquin", serif;
    font-size:large;
}

a{
    text-decoration: none !important; 
    color: inherit !important; 
    font-size:smaller;
}

.overlay-bg{
    background-color:#00000050 !important;
    border-radius: 20px !important;
}

.color-scheme-1 {
    background-color:#000 !important;
    color:white !important;
}

/* Default content */
.pro-1[aria-expanded="true"]::before {
    content: "Show Less";
}

.pro-1[aria-expanded="false"]::before {
    content: "Show More";
}


.pro-1-par{
    position: relative;
    padding-bottom: 20px;
}

.pro-1{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.cus-div-bl-r{
    background-color:#000;
    color : white;
    padding: 30px 40px;
    margin: 30px 0px 50px 0px;
    border-radius:20px;
}

.cus-insta-btn{
    border:white 2px solid !important;
    font-size: larger;
    font-weight: 600;
}

.cus-insta-btn:hover, .cus-insta-btn:active{
    color:#000 !important;
    border:black 2px dashed !important;

}